

<!DOCTYPE html>
<html>
    <head>
        <title>Station-TAM</title>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
		<!-- <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
        <noscript><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/noscript.css') }}"></noscript>
        
    </head>
    <body class="is-preload">
        <!-- <h1>Hello world</h1> -->

        <!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Station-TAM</h1>
							<p>Exploiter l’opendata des horaires de <br />
								transports : version fullstack / par Abdulrahman, Sêlêm, Yanis</p>
							<ul class="actions">
								<li><a href="http://127.0.0.1:5000/stations" class="button scrolly">Liste Stations</a></li>
                                <li><a href="http://127.0.0.1:5000/next/ODYSSEUM" class="button scrolly">Liste Passage JACOU</a></li>
                                <li><a href="http://127.0.0.1:5000/next?Ligne=22&Station=JACOU&Direction=UNIVERSITES" class="button scrolly">Liste Passage Ligne 22 JACOU UNIVERSITES</a></li>
							</ul>
						</div>
					</section>



        <!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
    </body>
</html>