{% import "components.html" as components %}

<!DOCTYPE html>
<html>
    <head>
        <title>Station-TAM</title>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
		<!-- <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
        <noscript><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/noscript.css') }}"></noscript>
        
    </head>
    <body class="is-preload">
        <!-- <img src="static/Capture.PNG" /> -->
        {% for blog1 in blogs1 %}
            {{ components.blog1(blog1["Direction"], blog1["Ligne"], blog1["Station"], blog1["Horaire"]) }}
        {% endfor %}







        <!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
    </body>
</html>